.burgerConstructorItems{
    overflow: auto;
    scroll-behavior: smooth;
    max-height: 400px;
}
.burgerConstructorItems::-webkit-scrollbar {
    width: 10px;
    background-color: #a1a1f1;
}
.burgerConstructorItems::-webkit-scrollbar-track {
    background-color: #2F2F37;
    color:#a1a1f1
  }
.burgerConstructorItems::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #8585AD;
  }
.burgerConstructorPrice{
  font-family: 'Iceland';
  font-size: 36px;
  font-weight: 500;
}
