.modal {
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events:none;
}
.modalActive{
    background-color:#1C1C21;
    top: 0;
    left: 0;
    opacity: 1;
    width:750px;
    height:600px;
    border-radius: 40px;
} 
.modalDone{
    margin: 40px 0;
    width: 120px;
    height: 120px;
}
.modalDoneId{
    font-family: 'Iceland';
    font-size: 144px;
    color:#F2F2F3;
    line-height: 1;
}

.modalDoneIdTitle{
    font-family: 'JetBrainsMono-Regular';
    font-size: 24px;
    color:#F2F2F3;
}

.modalDoneCocked{
    font-family: 'JetBrainsMono-Regular';
    font-size: 16px;
    color:#F2F2F3;
}
.modalDoneWait{
    margin-top: 8px;
    font-family: 'JetBrainsMono-Regular';
    font-size: 16px;
    color:#8585AD;
}