.order_ingridient_img {
    height: 64px;
    width: 64px;
    background-color: #131316;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .order_ingridient_img_border{
    background: linear-gradient(#131316, #131316) padding-box,
    linear-gradient(to right,#801ab2, #4c4cff) 100%;
    border: 2px solid transparent;
    border-radius: 50%;
  }