.font {
    font-family: 'JetBrainsMono-Regular';
}
.font_grey {
    font-family: 'JetBrainsMono-Regular';
    color: #8585AD
}
.font_blue{
    font-family: 'JetBrainsMono-Regular';
    color: #4C4CFF;
    cursor: pointer
}
.number{
    font-family: 'iceland';
    color: white;
}

.number_big_glow{
    font-family: 'iceland';
    line-height: 1;
    font-size: 144px;
    color: white;
    text-shadow: 
    0 0 15px #3333FF40,
    0 0 30px #3333FF40,
    0 0 45px #3333FF40;
}

.number_green {
    font-family: 'iceland';
    color: #00cccc;
}

.orders_list{
    max-height: 750px;
    max-width: 650px;
    overflow: auto;
    scroll-behavior: smooth;
    padding-right: 8px;
}

.orders_list::-webkit-scrollbar {  
    width: 10px;
    background-color: #a1a1f1;
}
.orders_list::-webkit-scrollbar-track {
    background-color: #2F2F37;
    color:#a1a1f1
  }
.orders_list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #8585AD;
}
.orders_feed{
    display: grid;
    grid-template-columns: 40% 100%;
    position: absolute;
}
.orders_feed_list{
    max-height: 750px;
    max-width: 1000px;
    overflow: auto;
    scroll-behavior: smooth;
    padding-right: 8px;
}
.orders_feed_list::-webkit-scrollbar {  
    width: 10px;
    background-color: #a1a1f1;
}
.orders_feed_list::-webkit-scrollbar-track {
    background-color: #2F2F37;
    color:#a1a1f1
  }
.orders_feed_list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #8585AD;
}