@font-face {
    font-family: 'Iceland';
    src: url("/src/fonts/iceland.woff2") format("woff2");
}
@font-face {
    font-family: 'JetBrainsMono-Regular';
    src: url("/src/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

.modalOverlayActive{
    height: 90.6vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 1;
    display: grid;
    align-items: center;
    justify-content:center; 
}
.modalOverlay{
    width: 0px;
    height: 0px;
}
