.modal {
    opacity: 0;
    pointer-events:none;
}
.modalActive{
    margin-top:60px;
    position: relative;
    z-index: 1000;
    background-color:#1C1C21;
    opacity: 1;
    width:650px;
    height:500px;
    border-radius: 40px;
    pointer-events: all;
}
