.modal {
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events:none;
}
.modalActive{
    background-color:#1C1C21;
    top: 0;
    left: 0;
    opacity: 1;
    width:750px;
    height:600px;
    border-radius: 40px;
}
.modalTitle{
    font-family: 'JetBrainsMono-Regular';
    font-size: 36px;
}
.modalIngrTitle{
    font-family: 'JetBrainsMono-Regular';
    font-size: 28px;
}
.modalIngrElems {
    font-family: 'JetBrainsMono-Regular';
    font-size: 16px;
    color:#8585AD;
}
.modalIngrWeight{
    font-family: 'Iceland';
    font-size: 28px;
    color:#8585AD;
}
