.burger-constructor_items{
    max-height: 500px;
    max-width:600px;
}

.burger-constructor_items::-webkit-scrollbar {
    width: 10px;
    background-color: #a1a1f1;
}
.burger-constructor_items::-webkit-scrollbar-track {
    background-color: #2F2F37;
    color:#a1a1f1
  }
.burger-constructor_items::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #8585AD;
  }
.constructor-element{
  max-width: 520px!important;
  min-width: 520px!important;

}
.burger-constructor_price{
  font-family: 'Iceland';
  font-size: 36px;
  font-weight: 500;
}  