@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JetBrainsMono-Regular';
  src: url("/src/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}
@font-face {
  font-family: 'Iceland';
  src: url("/src/fonts/iceland.woff2") format("woff2");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.constructor-element{
  max-width: 520px!important;
  min-width: 520px!important;
}

.ingr-item img{
  width:240px;
}

.input_size_default{
  width:480px
}